{% load bootstrap5 %}
{% bootstrap_messages %}
<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% bootstrap_css %}
    <title>Галерея</title>
</head>
<body>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <div class="container-fluid">
            <a class="navbar-brand" href="{% url 'home' %}">Галерея</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav">
                    {% if request.user.is_authenticated %}
                        <li class="nav-item">
                            <a class="nav-link" href="{% url 'photo_create' %}">Создать</a>
                        </li>
                        {% if object.author == request.user %}
                            <li class="nav-item">
                                <a class="nav-link" href="{% url 'photo_update' object.pk %}">Редактировать</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="{% url 'photo_delete' object.pk %}">Удалить</a>
                            </li>
                        {% endif %}
                    {% endif %}
                </ul>
                <ul class="navbar-nav">
                {% if user.is_authenticated %}
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'user_detail' user.pk %}">
                        {% include 'partial/profile.html' %}
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'logout_confirm' %}">
                        {% include 'partial/logout.html' %}
                    </a>
                </li>
                {% else %}
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'register' %}">
                        {% include 'partial/register.html' %}
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'login' %}">
                        {% include 'partial/login.html' %}
                    </a>
                </li>
                {% endif %}
            </ul>
            </div>
        </div>
    </nav>
    <div class="container">
        {% block content %}{% endblock %}
    </div>
</body>
</html>