{% extends "base.html" %}
{% load bootstrap5 %}
{% block content %}
{% for photo in object_list %}
<div class="row row-cols-1 row-cols-md-3 g-4">
    <div class="col">
        <div class="card h-100">
            <a href="{% url 'photo_detail' photo.pk %}">
                <img src="{{ photo.image.url }}" class="card-img-top" alt="{{ photo.caption }}">
            </a>
            <div class="card-body">
                <h5 class="card-title">{{ photo.caption }}</h5>
                <p class="card-text">{{ photo.author }}</p>
                {% if user.is_authenticated %}
                    {% if user in photo.favorite_users.all %}
                        <form method="post" action="{% url 'remove_favorite' photo.pk %}">
                            {% csrf_token %}
                            <button type="submit" class="btn btn-outline-danger">Удалить из избранных</button>
                        </form>
                    {% else %}
                        <form method="post" action="{% url 'add_favorite' photo.pk %}">
                            {% csrf_token %}
                            <button type="submit" class="btn btn-success">Добавить в избранные</button>
                        </form>
                    {% endif %}
                {% endif %}
            </div>
            <div class="card-footer">
                <small class="text-body-secondary">{{ photo.created_at }}</small>
            </div>
        </div>
    </div>
</div>
{% empty %}
<p>Нет фотографий</p>
{% endfor %}
{% endblock %}